# Pandas

# Series

In [10]:
import numpy as np

In [11]:
import pandas as pd

In [12]:
labels = ['a','b','c']
my_data =[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [14]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series (my_data,labels)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [18]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [20]:
pd.Series(data = ['sum','print','len'])

0      sum
1    print
2      len
dtype: object

In [22]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [23]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [24]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [25]:
ser2 =pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])

In [26]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [27]:
ser1['USA']

1

In [28]:
ser3 = pd.Series(data =labels)

In [29]:
ser3

0    a
1    b
2    c
dtype: object

In [31]:
ser3[0]

'a'

In [32]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

## Data Frames

In [34]:
import numpy as np
import pandas as pd

In [35]:
from numpy.random import randn

In [36]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [38]:
df

          W         X         Y         Z
A -1.274120  0.619671 -0.330299 -1.533828
B -0.699669 -0.426353 -0.501463 -1.813507
C -2.125077  0.159300 -0.253664 -0.765177
D -0.588409 -1.501456  1.396650 -0.478335
E  2.154568  1.423531 -1.047567  0.111740

In [46]:
df['W']

A   -1.274120
B   -0.699669
C   -2.125077
D   -0.588409
E    2.154568
Name: W, dtype: float64

In [42]:
type(df['W'])

pandas.core.series.Series

In [47]:
df['X']

A    0.619671
B   -0.426353
C    0.159300
D   -1.501456
E    1.423531
Name: X, dtype: float64

In [48]:
df['new'] = df['W'] + df['X']

In [49]:
df

          W         X         Y         Z       new
A -1.274120  0.619671 -0.330299 -1.533828 -0.654449
B -0.699669 -0.426353 -0.501463 -1.813507 -1.126022
C -2.125077  0.159300 -0.253664 -0.765177 -1.965777
D -0.588409 -1.501456  1.396650 -0.478335 -2.089865
E  2.154568  1.423531 -1.047567  0.111740  3.578099

In [51]:
df.drop('new',axis=1)

          W         X         Y         Z
A -1.274120  0.619671 -0.330299 -1.533828
B -0.699669 -0.426353 -0.501463 -1.813507
C -2.125077  0.159300 -0.253664 -0.765177
D -0.588409 -1.501456  1.396650 -0.478335
E  2.154568  1.423531 -1.047567  0.111740

In [52]:
df.shape

(5, 5)